body{
    margin-left:10%;
    margin-right:10%;
    background-size:100%;
    background-color: beige;
    color: whitesmoke;
}

.head{
    border:2px;
    -webkit-border-radius:10px;
    background-image:url(../resources/hosp_back1.jpg);
    padding: 10px; /* Поля вокруг текста */
    width:1010px;
    height: 40px;
    background-color:#ffffff;
    box-shadow: 0 0 10px rgba(0,0,0,0.9);
    margin-top: -20px;
    position: relative; z-index: 2;
}

.body{

    color:black;
    padding: 10px; /* Поля вокруг текста */
    padding-top: 30px;
    width:1020px;
    height:590px;
    background-color: #f4fff8;
    margin-left: 25px;
    margin-top: -40px;
    margin-bottom: -10px;
    position: relative; z-index: 1;

    border:1px;
    box-shadow: 0 0 10px rgba(0,0,0,0.9);
}

.bottom{

    border:2px;
    -webkit-border-radius:10px;
    padding: 5px; /* Поля вокруг текста */
    width:1020px;
    height: 50px;
    background-color: #252447;

    margin-bottom: 1%;
    position: relative; z-index: 2;

}

.textName{
    margin-left: 30px;
    font-weight: bold;
    font-size: 18px;
}

.exit{
    width: 90px;
    height: 34px;
    font-size: 16px;
    color:dodgerblue;
    background-color:azure;
    border:2px double dodgerblue;
    -webkit-border-radius:10px;
    margin-left: 0px;
    margin-top: -8px;
    font-weight: bold;
    position: relative; z-index: 3;
}


.text{
    padding-top: 13px;
    color:white;
}

.menubut{

    width: 150px;
    height: 44px;
    font-size: 16px;
    color:black;
    background-color: #5f69c6;
    border:2px double dodgerblue;
    -webkit-border-radius:10px;
    margin-left: 0px;
    margin-top: 3px;
    font-weight: bold;
}

.butafor{
    display: none;
}